---
title: APPX
description: Removal of APPX packages
privilege: TrustedInstaller
actions:

  - !writeStatus: {status: "Stopping Edge"}
  - !taskKill: {name: "MicrosoftEdgeUpdate", errorAction: Ignore}
  - !taskKill: {name: "msedge", errorAction: Ignore}
  - !taskKill: {name: "MicrosoftEdge*", errorAction: Ignore}
  - !taskKill: {name: "setup", errorAction: Ignore, pathContains: "\\Edge"}
  - !file: {path: "C:\\Windows\\SystemApps\\Microsoft.MicrosoftEdgeDevToolsClient_8wekyb3d8bbwe", errorAction: Ignore}

  - !writeStatus: {status: "Removing Appx Packages"}
  - !powerShell:
    wait: true
    exeDir: true
    errorAction: Ignore
    weight: 48
    command: >-
      .\APPX-REMOVER.ps1 -Packages @(
        'Microsoft.Windows.SecureAssessmentBrowser',
        'Microsoft.Windows.PeopleExperienceHost',
        'Microsoft.WindowsCamera',
        'MicrosoftWindows.Client.WebExperience',
        'Microsoft.WidgetsPlatformRuntime',
        'Microsoft.BingFinance',
        'Microsoft.BingFoodAndDrink',
        'Microsoft.BingNews',
        'Microsoft.BingSearch',
        'Microsoft.BingWeather',
        'Microsoft.BingHealthAndFitness',
        'Microsoft.BingTranslator',
        'Microsoft.BingTravel',
        'Microsoft.BingSports',
        'microsoft.microsoftedge.stable',
        'Microsoft.MicrosoftEdge',
        'Microsoft.MicrosoftEdgeDevToolsClient',
        'Microsoft.MicrosoftSolitaireCollection',
        'Microsoft.549981C3F5F10',
        'Clipchamp.Clipchamp',
        'Disney.37853FC22B2CE',
        'SpotifyAB.SpotifyMusic',
        'Microsoft.Microsoft3DViewer',
        'Microsoft.Advertising',
        'Microsoft.Advertising.Xaml'
        'Microsoft.MSPaint',
        'Microsoft.StartExperiencesApp',
        'HotspotShieldFreeVPN',
        'MicrosoftWindows.Client.AIX',
        'Microsoft.WindowsAlarms',
        'Microsoft.Copilot',
        'Microsoft.Windows.Ai.Copilot.Provider',
        'Microsoft.Edge.GameAssist',
        'Microsoft.GamingApp',
        'Microsoft.Xbox',
        'Microsoft.XboxApp',
        'Microsoft.Xbox.TCUI',
        'Microsoft.XboxGameOverlay',
        'Microsoft.XboxGamingOverlay',
        'Microsoft.XboxIdentityProvider',
        'Microsoft.XboxSpeechToTextOverlay',
        'Microsoft.Getstarted',
        'Microsoft.Todos',
        'Microsoft.GetHelp',
        'Microsoft.MicrosoftOfficeHub',
        'Microsoft.Office.Excel',
        'Microsoft.Office.PowerPoint',
        'Microsoft.Office.Word',
        'Microsoft.Office.OneNote',
        'MixedReality.Portal',
        'Microsoft.WindowsMaps',
        'Flipgrid',
        'Microsoft.News',
        'MicrosoftWindows.CrossDevice',
        'Microsoft.YourPhone',
        'Microsoft.MicrosoftStickyNotes',
        'Microsoft.windowscommunicationsapps',
        'Microsoft.People',
        'Microsoft.ZuneVideo',
        'Microsoft.WindowsFeedbackHub',
        'Microsoft.OutlookForWindows',
        'OutlookForWindows',
        'OutlookPWA',
        'Microsoft.PowerAutomateDesktop',
        'MicrosoftCorporationII.QuickAssist',
        'MicrosoftCorporationII.MicrosoftFamily',
        'Microsoft.WindowsSoundRecorder',
        'Microsoft.MicrosoftTeamsforSurfaceHub',
        'MicrosoftCorporationII.MailforSurfaceHub',
        'Microsoft.MicrosoftPowerBIForWindows',
        'Microsoft.SkypeApp',
        'Microsoft.Whiteboard',
        'Microsoft.microsoftskydrive',
        'Microsoft.ZuneMusic',
        'Ink.Handwriting.Main.Store.en-US1.0'
      )

  - !writeStatus: {status: "Removing Photos"}
  - !powerShell:
    wait: true
    exeDir: true
    errorAction: Ignore
    weight: 10
    command: >-
      .\APPX-REMOVER.ps1 -Packages 'Microsoft.Windows.Photos'

  - !writeStatus: {status: "Removing Dev Home"}
  - !powerShell:
    wait: true
    exeDir: true
    errorAction: Ignore
    weight: 10
    command: >-
      .\APPX-REMOVER.ps1 -Packages 'Microsoft.Windows.DevHome'

  - !file: {path: "C:\\Windows\\SystemApps\\Microsoft.MicrosoftEdgeDevToolsClient_8wekyb3d8bbwe", errorAction: Ignore}

  # Cpoilot Registry
  - !registryValue: {path: 'HKCR\Software\Policies\Microsoft\Windows\WindowsCopilot', value: 'TurnOffWindowsCopilot', type: REG_DWORD, data: '1'}
  - !registryValue: {path: 'HKCR\Software\Microsoft\Windows\CurrentVersion\Explorer\Advanced', value: 'ShowCopilotButton', type: REG_DWORD, data: '0'}

  # Xbox
  - !registryValue: {path: 'HKCR\ms-gamebar', value: '', type: REG_SZ, data: 'URL:ms-gamebar'}
  - !registryValue: {path: 'HKCR\ms-gamebar', value: 'URL Protocol', type: REG_SZ, data: ''}
  - !registryKey: {path: 'HKCR\ms-gamebar\shell\open\command', operation: add}
  - !registryValue: {path: 'HKCR\ms-gamebar', value: '', type: REG_SZ, data: '%SystemRoot%\System32\systray.exe'}
  - !registryValue: {path: 'HKCU\Software\Microsoft\GameBar', value: 'ShowStartupPanel', type: REG_DWORD, data: '0'}

  # MSTeams                                                                             
  - !taskKill: {name: "Teams", errorAction: Ignore}
  - !taskKill: {name: "Update", errorAction: Ignore}
  - !taskKill: {name: "ms-teamsupdate", errorAction: Ignore}
  - !appx: {name: 'MicrosoftTeams*', type: family, errorAction: Ignore}
  - !appx: {name: 'MSTeams*', type: family, errorAction: Ignore}
  - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Communications', value: 'ConfigureChatAutoInstall', type: REG_DWORD, data: '0'}

  # OneDrive
  - !taskKill: {name: "OneDriveStandaloneUpdater", errorAction: Ignore}
  - !taskKill: {name: "OneDriveSetup", errorAction: Ignore}
  - !taskKill: {name: "OneDrive*", errorAction: Ignore}
  - !appx: {name: 'OneDrive*', type: family, errorAction: Ignore}

  # Clear caches of Client.CBS and more (Full credits to AtlasOS)
  # Start menu cache is cleared later
  - !writeStatus: {status: 'Clearing AppX caches'}
  - !appx: {operation: clearCache, name: '*MicrosoftWindows.Client.CBS*'}
  - !appx: {operation: clearCache, name: '*Microsoft.Windows.Search*'}
  - !appx: {operation: clearCache, name: '*Microsoft.Windows.SecHealthUI*'}
