---
title: Components
description: Remove certain Windows components
privilege: TrustedInstaller
actions:

  # Remove Security Center startup item (Thanks to AtlasOS)
 - !registryValue: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Run', value: 'SecurityHealth', operation: delete}

  # Disable Smart App Control
  # Causes slow app loading issues and sends data to Microsoft
 - !registryValue:
   path: 'HKLM\SYSTEM\CurrentControlSet\Control\CI\Policy'
   value: 'VerifiedAndReputablePolicyState'
   data: '0'
   type: REG_DWORD

 # All credits to SucklessWindows, AtlasOS
 # Microsoft Edge
 - !writeStatus: {status: "Removing Microsoft Edge"}
 # Allow uninstall of Edge, EdgeUpdate, EdgeWebView 
 - !registryValue: {path: 'HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft Edge', value: 'NoRemove', type: REG_DWORD, data: '0'}
 - !registryValue: {path: 'HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft Edge Update', value: 'NoRemove', type: REG_DWORD, data: '0'}
 - !registryValue: {path: 'HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft EdgeWebView', value: 'NoRemove', type: REG_DWORD, data: '0'}
 - !taskKill: {name: "MicrosoftEdgeUpdate", errorAction: Ignore}
 - !taskKill: {name: "msedge", errorAction: Ignore}
 - !taskKill: {name: "MicrosoftEdge*", errorAction: Ignore}
 - !taskKill: {name: "setup", errorAction: Ignore, pathContains: "\\Edge"}

 - !powerShell: # https://github.com/he3als/EdgeRemover
   command: 'iex """&{$(irm https://raw.githubusercontent.com/he3als/EdgeRemover/main/RemoveEdge.ps1)} -UninstallEdge -RemoveEdgeData -KeepAppX -NonInteractive"""'
   runas: currentUserElevated
   wait: true
   weight: 40
 - !file: {path: "%ProgramFiles(x86)%\\Microsoft\\Edge", weight: 50}

     # AppX uninstallation in the script seems to fail, it's not used, and AME Wizard is used instead
    # Note that AppX Edge is removed from the latest builds of Windows, but people could be running a non-updated version (Thanks to AtlasOS)
 - !appx: {name: 'Microsoft.MicrosoftEdge_8wekyb3d8bbwe', type: family}
 - !registryKey: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Appx\AppxAllUserStore\Deprovisioned\Microsoft.MicrosoftEdge.Stable_8wekyb3d8bbwe', operation: add}
 - !registryKey: {path: 'HKLM\SOFTWARE\Microsoft\Windows\CurrentVersion\Appx\AppxAllUserStore\Deprovisioned\Microsoft.MicrosoftEdge_8wekyb3d8bbwe', operation: add}

  # OneDrive
 - !writeStatus: {status: "Removing OneDrive"}
 - !taskKill: {name: "OneDriveStandaloneUpdater", errorAction: Ignore}
 - !taskKill: {name: "OneDriveSetup", errorAction: Ignore}
 - !taskKill: {name: "OneDrive*", errorAction: Ignore}
 - !run: {exeDir: true, exe: 'ONED.cmd'}
  
  # - !run: {exe: "explorer.exe", wait: false}
