---
title: Components
description: Remove certain windows components
privilege: TrustedInstaller
actions:

 # All credits to SucklessWindows
 # Microsoft Edge 
 - !writeStatus: {status: "Removing Microsoft Edge"}
 # Allow uninstall of Edge, EdgeUpdate, EdgeWebView 
 - !registryValue: {path: 'HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft Edge', value: 'NoRemove', type: REG_DWORD, data: '0'}
 - !registryValue: {path: 'HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft Edge Update', value: 'NoRemove', type: REG_DWORD, data: '0'}
 - !registryValue: {path: 'HKLM\SOFTWARE\WOW6432Node\Microsoft\Windows\CurrentVersion\Uninstall\Microsoft EdgeWebView', value: 'NoRemove', type: REG_DWORD, data: '0'}
 - !taskKill: {name: "MicrosoftEdgeUpdate", errorAction: Ignore}
 - !taskKill: {name: "msedge", errorAction: Ignore}
 - !taskKill: {name: "MicrosoftEdge*", errorAction: Ignore}
 - !taskKill: {name: "setup", errorAction: Ignore, pathContains: "\\Edge"}

 - !powerShell: # https://github.com/he3als/EdgeRemover
    command: 'iex """&{$(irm https://raw.githubusercontent.com/he3als/EdgeRemover/main/RemoveEdge.ps1)} -UninstallEdge -RemoveEdgeData -KeepAppX -NonInteractive"""'
    runas: currentUserElevated
    wait: true
    weight: 40
 - !file: {path: "%ProgramFiles(x86)%\\Microsoft\\Edge", weight: 50}

  # OneDrive
 - !writeStatus: {status: "Removing OneDrive"}
 - !taskKill: {name: "OneDriveStandaloneUpdater", errorAction: Ignore}
 - !taskKill: {name: "OneDriveSetup", errorAction: Ignore}
 - !taskKill: {name: "OneDrive*", errorAction: Ignore}
  
  # - !run: {exe: "explorer.exe", wait: false}
